# ignore venv files and directories
pyvenv.cfg
Lib/
Scripts/
Include/

dataset_tournament_*.py
!ANL-2023-example-agent/agents/the_negotiator/training_data/dataset_tournament_*.py

ANL-2023-example-agent/MA

report/latex/*
!/report/latex/refs.bib
!report/latex/*.tex
!report/latex/images/
ANL-2023-example-agent/agents/ANL2022/tjaronchery10_agent/.DS_Store
ANL-2023-example-agent/agents/ANL2022/BIU_agent/.DS_Store
ANL-2023-example-agent/agents/ANL2022/agentfish/.DS_Store
ANL-2023-example-agent/agents/ANL2022/agentfish/.DS_Store
ANL-2023-example-agent/agents/ANL2022/BIU_agent/.DS_Store
ANL-2023-example-agent/agents/ANL2022/tjaronchery10_agent/.DS_Store
report/.DS_Store
ANL-2023-example-agent/agents/the_negotiator/.DS_Store
ANL-2023-example-agent/agents/ANL2022/tjaronchery10_agent/.DS_Store
ANL-2023-example-agent/agents/ANL2022/BIU_agent/.DS_Store
ANL-2023-example-agent/agents/ANL2022/agentfish/.DS_Store
ANL-2023-example-agent/agents/.DS_Store
ANL-2023-example-agent/.DS_Store
.DS_Store
ANL-2023-example-agent/agents/ANL2022/agentfish/.DS_Store
ANL-2023-example-agent/agents/ANL2022/BIU_agent/.DS_Store
ANL-2023-example-agent/agents/ANL2022/tjaronchery10_agent/.DS_Store

*.ipe
